In [1]:
#import necessary libraries
import pandas as pd
import numpy as np

In [2]:
#load the datasets - use the function read_csv
df = pd.read_csv('gender.csv')

In [3]:
#view the firt five records
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
#view the last five records
df.tail()

      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

In [5]:
#find out stats info
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 195.4+ KB

In [7]:
#Data Analysis
#check whether dataset is having null valus
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [8]:
#scheck whether unique values of gender
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [9]:
#select independent feature
X=df.drop('Gender',axis=1)

In [10]:
#check dataframe y is independent variable , output label y
y=df['Gender']

In [11]:
#train test split
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4,random_state=40)

In [13]:
X_train

         Height      Weight
64    71.418466  179.863902
5808  60.037288  117.605874
8723  61.906394  134.782517
5501  64.340920  137.841075
8239  61.402704  123.983911
...         ...         ...
7839  64.855262  150.397118
3603  64.991910  153.655214
5959  58.048388   92.325830
5426  57.923159  100.540043
7608  63.112889  133.514246

[6000 rows x 2 columns]

In [14]:
X_test

         Height      Weight
293   69.899204  191.412231
1244  69.080577  176.556145
7353  63.935697  142.987759
5145  62.549846  118.903204
1618  74.633827  213.069042
...         ...         ...
8942  61.496857  125.413463
5720  66.215073  175.080994
2017  67.046117  160.156116
7194  66.059661  158.535626
1439  68.356165  204.358875

[4000 rows x 2 columns]

In [15]:
# import decisiontree classifier
from sklearn.tree import DecisionTreeClassifier

In [16]:
#create object of DecisionTreeclassifier
model=DecisionTreeClassifier(criterion = "entropy")

In [17]:
X_train=X_train.values

In [18]:
#provide training with fit() method
model.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [19]:
X_test=X_test.values

In [20]:
predictions=model.predict(X_test)

In [21]:
#check the performance of the model
from sklearn.metrics import accuracy_score
accuracy_score(predictions,y_test)

0.8725

In [22]:
#predict new category of gender by asking question to model by passing values of height and weight
pred=model.predict([[65,150]])
print(pred)

['Female']

In [23]:
import pickle
pickle.dump(model,open('Final_model.pkl','wb'))

In [24]:
loaded_model=pickle.load(open('Final_model.pkl','rb'))

In [25]:
pred=loaded_model.predict([[65,150]])
pred

array(['Female'], dtype=object)